<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="series-liste" href="/tabs/series-liste">
      <ion-icon name="tv-outline"></ion-icon>
      <ion-label>Séries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="films-liste" href="/tabs/films-liste">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recherche" href="/tabs/recherche">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Explorer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accueil" href="/tabs/accueil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
